.name {
	font-family: 'Tangerine', serif;
	font-size: 60px;
	text-shadow: 4px 4px 4px #aaa;
	text-align:center;
}

.img-circle {
    border-radius: 50%;
	width: 180px;
	height:180px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 100px;
}

body {
	background-color: #50d07d;
}