.name {
	font-family: 'Tangerine', serif;
	font-size: 60px;
	text-shadow: 4px 4px 4px #aaa;
	text-align:center;
}

.intro {
	font-family: 'Lora',serif;
	font-size: 20px;
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
}

.intro a {
	text-decoration: none;
	color: brown;
}
.img-circle {
    border-radius: 50%;
	width: 180px;
	height:280px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 40px;
}

body {
	background-color: #50d07d;
}